* {
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}

/* селектор{ //параметер для елемента до якого звертаємся
    властивість:значення;
    властивість:значення;
    властивість:значення;
} */

h2,
h1 {
  color: rgb(111, 0, 255);
  text-align: center;
  font-weight: 100;
  font-style: italic;
  font-size: 25px;
}
.text {
  font-weight: 900;
}
.charter {
  color: blue;
}
#begin {
  color: orange;
  font-weight: bold;
}
.box {
  position: absolute;
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: blue;
  padding: 20px;
  /* border-width: 3px;
    border-style: solid;
    border-color: black; */
  border: 3px solid black;
  margin: 25px;
  z-index: 3;
}
/* блочні
рядкові
рядково-блочні */
/*рядкові*/
a {
  padding: 20px;
  margin: 20px;
}

img {
  display: block;
  margin: 0 auto;
  width: 500px;
}
nav {
  position: inherit; /*inherit-для наслідування властивостей батьківського елемента*/
  left: 30px;
  top: 100px;
  /*fixed-приклеїть тільки до конкретного місця*/
  /*absolute-можна рухати тільки в серидині блоку бредова штука*/
  /*relative-дозволяє рухати елементи по сторінці за допомогою top-вниз,bottom-в верх, right,left*/
  /*top-вниз,bottom-в верх, right,left*/
}
.example {
  background-color: bisque;
}
.example1 {
  position: relative;
}
.red {
  background-color: red;
  position: absolute;
  left: 130px;
  z-index: 4;
}
